__pycache__/
.pytest_cache/
*.py[cod]
*.sqlite3
.venv/
venv/
env/
.env
dist/
build/
*.egg-info/
android/.gradle/
android/**/build/
ios/DerivedData/
ios/**/*.xcuserdata/
ios/**/xcshareddata/WorkspaceSettings.xcsettings
